/* ---------------- Flexboxes -------------- */
/*
|--------------------|
|      Headline      |
|--------------------|
|       |   Legende  |
| Liste |------------|
|       | ParaChart  |
|       |------------|
|       | BarChart   |
|--------------------|

  <Container>
      <Headline/>
      <VisuContainer>
          <ListContainer/>
          <ChartContainer>
              <Legend/>
              <ParaChart/>
              <BarChart/>
          </ChartContainer>
      </VisuContainer>
  </Container
*/

.Container{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border: 2px solid black; */
}

.Container div{
    margin: 5px;
    height: 100%;
}

    /* .Headline{
        border: 2px solid red;
    } */

    .Headline div{
        margin: -5px;
    }

    .VisuContainer{
        display: flex;
        flex-direction: row;
        height: 100%;
        /* border: 2px solid blue; */
    }


        .ListContainer{
            flex:1;
            /* border: 2px solid purple; */
        }

        .ChartContainer{
            min-width: 0;
            display: flex;
            flex-direction: column;
            flex:3;
            /* border: 2px solid orange; */
            
        }

        .Legend{
            display: flex;
            flex-direction:row;
            justify-content: flex-end;
            /* border: 2px solid green; */
        }
        
            .Whitespace{
                flex: 1.4;
                /* border: 2px dotted brown; */
            }

            .legendList{
                flex:1;
                border: 1px solid grey;
                display: flex;
                flex-direction: column;
            }
                /* .legendHead{
                    flex:1;
                }

                #legendList{
                    flex:1;
                } */
                


        /* .Chart{
            border: 2px solid slateblue;
        } */

        /* .BarChart{

        } */