/* ------------ fonts -------------------- */

    /* font-family: 'Marck Script', cursive;

    font-family: 'Merienda', cursive;

    font-family: 'Charm', cursive;

    font-family: 'Playfair Display', serif;

    font-family: 'Lora', serif;

    font-family: 'Crimson Text', serif; */



/* ------------ parallel coordinate chart -------------------- */
svg {
    font-family: 'Lora', serif;
    font: 10px sans-serif;
  }
  
  .background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
  }
  
  .foreground path {
    fill: none;
    stroke: steelblue;
  }
  
  .brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
  }
  
  .axis line,
  .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .axis text {
    font-family: 'Lora', serif;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
  }

/*------------------------- Spell list ------------------------ */
.background {
  position: absolute;
  scrollbar-width: none;
  top: 15px;
  left: 16px;
  width: 300px;
  height: 710px;
  background-image: url(img/scroll.png);
  background-position: -5px -30px;
  background-size: 100% 105%;
  background-repeat: no-repeat;
}

.listContainer {
  position: absolute;
  scrollbar-width: none;
  top: 5px;
  left: 16px;
  width: 400px;
  height: 700px;
}

.spellList {
  display: block;
  overflow: scroll;
  margin-top: 45px;
  margin-left: 20px;
  scrollbar-width: none;
  max-height: 600px;
  max-width: 250px;
}

.spells{
  display: block;
	border-style: none;
	background-color: transparent;
  cursor: pointer;
  color: black;
  font-family: 'Merienda', cursive;
  font-size: 15px;
}

.spells:hover{
  color : #55d1d3 !important; 
  /* !important so it still works after using javascript! */
}

/* Padding: Inhalt bis zur Border, 
Margin: Border bis Dokumentrand */


/* ---------- Pop-up -------------- */
/* Popup container */
.spells {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.spells .info {
  display: none;
  list-style-type: none;
  margin-top: 7px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: black;
  font-family: 'Lora', serif;
	font-size: 14px;
  width: 160px;
  color: #fff;
  border-radius: 6px;
  padding: 8px 10px;
  position: relative;
}

/* Toggle this class - hide and show the popup */
.spells .show {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 0.8;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:0.8 ;}
}

