/* ------------ Fonts -------------------- */

    /* font-family: 'Marck Script', cursive;
    font-family: 'Merienda', cursive;
    font-family: 'Charm', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Lora', serif;
    font-family: 'Crimson Text', serif; */


/* ------- Main Container --------- */

.Headline{
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 25px;
}

/*------------- Spell list ----------- */

/* Padding: Inhalt bis zur Border, 
Margin: Border bis Dokumentrand */

.listBackground {
  position: absolute;
  scrollbar-width: none;
  top: 15px;
  left: 16px;
  width: 300px;
  height: 710px;
  background-image: url(img/scroll.png);
  background-position: -5px -30px;
  background-size: 100% 105%;
  background-repeat: no-repeat;
}

.spellList {
  position: absolute;
  scrollbar-width: none;
  top: 5px;
  left: 16px;
  width: 400px;
  height: 700px;
}

.list {
  display: block;
  overflow: scroll;
  margin-top: 45px;
  margin-left: 20px;
  scrollbar-width: none;
  max-height: 600px;
  max-width: 250px;
}

.spells{
  display: block;
	border-style: none;
	background-color: transparent;
  color: black;
  font-family: 'Merienda', cursive;
  font-size: 15px;
}

.toggleSpells{
  cursor: pointer;
}

.toggleSpells:hover{
  color : #55d1d3 !important; 
  /* !important so it still works after using javascript! */
}

/* ------ Pop-up / Infokasten ------ */
/* Popup container */
.spells {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.spells .info {
  display: none;
  list-style-type: none;
  margin-top: 7px;
  margin-left: -5px;
  margin-bottom: 10px;
  color: black;
  font-family: 'Lora', serif;
	font-size: 14px;
  width: 160px;
  color: rgb(72, 72, 72);
  border-radius: 6px;
  padding: 8px 10px;
  position: relative;
}

/* Toggle this class - hide and show the popup */
.spells .show {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 0.8;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:0.8 ;}
}


/*--- Tags ----*/

.info{
  cursor: auto;
}

.tag{
  font-family: 'Lora', serif;
  font-size: 12px;
  color: rgb(72, 72, 72);
  border-style: none;
  opacity: 0.7;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  padding: 7px 10px; /* oben-unten / links-rechts */
  margin: 5px;
  text-align: center;
  text-decoration: none;
}

a:link{
  text-decoration: none;
  color: rgb(72, 72, 72);
}

a:visited{
  text-decoration: none;
  color: rgb(72, 72, 72);
}

.tag:hover{
  /* background-color:  */
  opacity: 0.9;
  border-radius: 35px;
  padding: 12px 15px; /* oben-unten / links-rechts */
}


/* ------------------------ ChartContainer -------------------------*/

/* ---------- Legende ---------- */
.Legend{
  text-align: right;
  font-family: 'Lora', serif;
  font-size: 14px;
}

.legendHead{
  text-align: center;
}

#legendList{
  list-style: none;
}

.legendList li{
  display: inline;
  padding: 20px;
}

li#charm{
  list-style-image: url('img/charm_bullet_small.png');
}

li#curse{
  list-style-image: url('img/curse_bullet_small.png');
}

/* -------- parallel coordinate chart --------- */
svg {
  font-family: 'Lora', serif;
  font-size: 10px;
  width: 2000;
  height: 400;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: 'Lora', serif;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}